.container {
  font-weight: 300;
}

.main-content {
  margin: 50px;
  text-align:center;
}

.main-content p {
  width: 60%;
  margin: 0 auto;
}

.item {
  display:inline-block;
  float: left;
  padding: 0 10px;
  margin: 30px auto;
}

.item img {
  height: 200px;
  width: auto;
}

select {
  float: left;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
}
