* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #f4f4f4;
	color: #555;
	font-family: 'Lato', 'Arial';
	font-weight: 300;
	font-size: 20px;
}

.header {
  margin-bottom: 20px;
  padding: 50px;
  background: linear-gradient(#003366, #001a35);
  border-bottom: 2px solid black;
  color: white;
  text-align:center;
}

.header h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.header p {
  width: 60%;
  margin: 0 auto;
}

.main-content {
  margin-left: 75px;
}

.item {
  display:inline-block;
  text-align: center;
  padding-bottom: 30px;
  margin: 10px auto;
  border: 1px solid #aaa;
  background-color: #fff;
  height: 270px;
  width: 23%;
}

.item div {
  font-size: 80%;
}

.item div:after {
  display: block;
  height: 2px;
  background-color: #003366;
  content: " ";
  width: 200px;
  margin: 15px auto;
}

.item img {
  height: 200px;
  width: auto;
}

select {
  display: block;
  padding: 10px 30px;
}
/*
h2:after {
	display: block;
	height: 2px;
	background-color: #cf6d17;
	content: " ";
	width: 100px;
	margin: 30px auto;
}*/
